.addFriendsInput {
  padding: 1rem 1.5rem;
  background: #fafafa;
  border-bottom: 1px solid #DFDFDF;
  
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    button {
      background: none;
      border: 0;

      svg {
        width: 25px;
        height: 25px;
      }
    }

    h3 {
      font-family: Lexend, sans-serif;
      font-weight: 400;
      font-size: 1.3rem;
    }
  }
  

  .addFriendsSend {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      width: 90%;
      padding: .5rem;
      padding-left: 1rem;
      border-radius: 2rem;
      border: 1px solid #DFDFDF;
    }
  }
  
}

.usersList {
    list-style: none;
    overflow-y: scroll;
    height: calc(100vh - 337px);
  
    &::-webkit-scrollbar-track {
      background-color: #F4F4F4;
    }
  
    &::-webkit-scrollbar {
        width: 6px;
        background: #F4F4F4;
    }
  
    &::-webkit-scrollbar-thumb {
        background: #dad7d7;
    }
  
    li {
      padding: 2rem 1rem 1rem 1rem;
      margin-left: 1rem;
      width: 90%;
      border-bottom: 1px solid #D7D7D7;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      div {
        h4 {
          font-size: 1.125rem;
        }
        
        p {
          font-family: 'Inter', sans-serif;
          margin-top: 1rem;
          font-size: 1rem;
          font-weight: 400;
          color: #777777;
        } 
      }
  
      button {
        background: none;
        border: 0;
        height: 25px;
        width: 25px;
  
        svg {
          width: 25px;
          height: 25px;
        }
      }
    } 
  }